<% if(success && success.length){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

        <% if(update && update.length){ %>
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <%= update %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>

                <% if(remove && remove.length){ %>
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <%= remove %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>

                        <% if(error && error.length){ %>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <%= error %>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                            <% } %>

                                <% if(userError && userError.length){ %>
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3">
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <%= userError %>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                        aria-label="Close"></button>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>